# release files #
##########################
release/

# Development folders and files #
#################################
.tmp/
dist/
node_modules/
*.compiled.*

# Folder config file #
######################
Desktop.ini

# Log files & folders #
#######################
logs/
*.log
npm-debug.log*
.npm

# Windows & Mac file caches #
#############################
.DS_Store
Thumbs.db
ehthumbs.db

# Windows shortcuts #
#####################
*.lnk
